/* Font added */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto+Mono&family=Roboto:wght@500&family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* Nav styles */
nav {
    display: flex;
    background: rgba(255, 144, 14, 0.1);
    justify-content: space-between;
    padding: 50px 220px;
}

.nav-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;

}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    padding-left: 50px;
}

/* banner styles */

.banner {
    background: rgba(255, 144, 14, 0.1);
    text-align: center;
    padding-bottom: 50px;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    padding-top: 50px;
}

.banner-description {
    color: #727272;
    padding: 33px;
}

.primary-btn {
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: 0px;
    padding: 25px 20px;
    margin-bottom: 50px;
}

#banner-img {
    width: 1440px;
    height: 700px;
    border-radius: 8px;
}


/* Feature styles */
.feature-section {
    margin: 80px ;
    align-items: center;
}

.feature-section,
.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature {
    width: 342px;
    height: 342px;
}

.feature-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.gray-text,.feature-description {
    color: #727272;
}

.orange-text {
    color: #FF900E;
}
.feature-description{
    padding: 28px;
}

/* Fact styles */